body {
    font-family: 'Poppins', 'Inter';
    background-color: #FAFAFA;
    overflow-x: hidden;
  }
  .bt-1 {
    margin-left: 20px;
    padding: 9px 10px;
    background-color: #ED661F;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    outline: none;
  }
  .logo{
    font-family: 'Inter', cursive;
        font-size: 20px;
  }
 nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    }
   
      .nav_links {
        list-style: none;
      }
   
      .nav_links li {
        display: flex;
        padding: 0px 10px;
      }
   
      .nav_links li a {
        transition: all 0.3s ease 0s;
        color: black;
      }
   
      .nav_links li a:hover {
        color: #ED661F;
      }
      ul{
        list-style:none;
       
    }
    .pane {
        float: left;
        width: 50%;
      }
     nav{
          display:flex;
          justify-content: space-around;
      }
      .logbt {
        height: auto;
        padding: 1rem;
        bottom:-50%
      }
      .cta {
        margin-top: 20px;
        float: left; 
      }
    
      .cta a {
        padding: 12px;
        background: aliceblue;
        border-radius: 5px;
        background-color: #ED661F;
        color: white;
        text-decoration: none;
        margin-top: 15px;
      }
      .exist image {
        height: 400px;
        width: 600px;
      }
      .pane {
        float: left;
        width: 50%;
      }
      .popular{
        margin-bottom: 70px;
    }
    .popular h1{
        margin-left: 70px;
        padding-bottom: 30px;
    }
    .popular-link-active:after { /* this is the border */
        content:"";
        display:block;
        width: 3em;
        max-width:50%;
        border-bottom: 0.2em solid red;
        margin-top: 10px;
    }
     .column {
        float: left;
        width: 22%;
        padding: 0 10px;
        display: flex;
        justify-content: space-around;
          }
    .row {
        margin: 0 -5px;
        text-align: center;
        padding: 20px;

    }
          
          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          .whitebox{
            float: left;
            background-color:white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            padding: 16px;
            text-align: left;
          }
          .container-image{
            height:100%;
            width: 100%;
          }